@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {

}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #1a1a1a;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

